<div class="pb-4 border-bottom">
    <div class="d-flex flex-column flex-md-row justify-content-md-between mb-4 mb-md-2">
        <div>
            <p class="m-0 fw-bold fs-5">Grand Total</p>
            <span class="text-muted small">Inc $45.89 sales tax</span>
        </div>
        <p class="m-0 fs-5 fw-bold">$422.99</p>
    </div>
</div>
<div class="py-4">
    <div class="input-group mb-0">
        <input type="text" class="form-control" placeholder="Enter coupon code">
        <button class="btn btn-secondary btn-sm px-4">Apply</button>
    </div>
</div>
<a href="{{webRoot}}/checkout.html" class="btn btn-dark w-100 text-center" role="button">Proceed to checkout</a>