<!-- Swiper Latest -->
<div class="swiper-container" data-swiper data-options='{
    "spaceBetween": 10,
    "loop": true,
    "autoplay": {
      "delay": 5000,
      "disableOnInteraction": false
    },
    "navigation": {
      "nextEl": ".swiper-next",
      "prevEl": ".swiper-prev"
    },   
    "breakpoints": {
      "600": {
        "slidesPerView": 2
      },
      "1024": {
        "slidesPerView": 3
      },       
      "1400": {
        "slidesPerView": 4
      }
    }
  }'>
  <div class="swiper-wrapper">
    {{#if (config category-products) }}
      {{#each category-products.entries}}
        <div class="swiper-slide">
          {{> listing-cards/listing-card this }}
        </div>
      {{/each}}
    {{/if}}
  </div>

  <!-- Add Arrows -->
  <div
    class="swiper-prev top-50  start-0 z-index-30 cursor-pointer transition-all bg-white px-3 py-4 position-absolute z-index-30 top-50 start-0 mt-n8 d-flex justify-content-center align-items-center opacity-50-hover">
    <i class="ri-arrow-left-s-line ri-lg"></i></div>
  <div
    class="swiper-next top-50 end-0 z-index-30 cursor-pointer transition-all bg-white px-3 py-4 position-absolute z-index-30 top-50 end-0 mt-n8 d-flex justify-content-center align-items-center opacity-50-hover">
    <i class="ri-arrow-right-s-line ri-lg"></i></div>


</div>
<!-- / Swiper Latest-->