<section class="marquee marquee-hover-pause">
    <div class="marquee-body">
        <div class="marquee-section animation-marquee-50">
            {{#each slideshow-brands.entries}}
            <div class="mx-3 mx-lg-5 f-w-24">
                <a class="d-block" href="{{webRoot}}/category.html">
                    <picture>
                        <img class="img-fluid d-table mx-auto" src="{{ img }}" alt="{{ config.defaultImgAlt }}">
                    </picture>
                </a>
            </div>
            {{/each}}
        </div>
        <div class="marquee-section animation-marquee-50">
            {{#each slideshow-brands.entries}}
            <div class="mx-5 f-w-24">
                <a class="d-block" href="{{webRoot}}/category.html">
                    <picture>
                        <img class="img-fluid d-table mx-auto" src="{{ img }}" alt="{{ config.defaultImgAlt }}">
                    </picture>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
