.badge-card {
    background: rgba(255,255,255, .9);
    color: $text-muted;
    letter-spacing: 1px;
    padding: .5rem .75rem;
    display: flex;
    align-items: center;
    margin-right: .25rem;
}