<!-- Start Size Guide Modal-->
<div class="modal fade"
    id="sizeModal"
    tabindex="-1"
    aria-labelledby="sizeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0 justify-content-center py-4">
                <h5 class="modal-title"
                    id="sizeModalLabel">Size Guide</h5>
                <button type="button"
                    class="btn btn-link text-decoration-none text-secondary text-dark-hover position-absolute end-0"
                    data-bs-dismiss="modal"
                    aria-label="Close"><i class="ri-close-fill"></i></button>
            </div>
            <!-- Size Modal Content-->
            <div class="modal-body px-8 pb-5">
                <!-- Size Guide Table -->
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th><strong>UK Size</strong></th>
                            <th><strong>EU Size</strong></th>
                            <th><strong>US Size</strong></th>
                            <th><strong>Foot Length (mm)</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>35.5</td>
                            <td>4</td>
                            <td>220</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>37</td>
                            <td>5</td>
                            <td>229</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>38</td>
                            <td>6</td>
                            <td>237</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>39</td>
                            <td>7</td>
                            <td>246</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>40.5</td>
                            <td>8</td>
                            <td>254</td>
                        </tr>
                        <tr>
                            <td>7.5</td>
                            <td>41</td>
                            <td>8.5</td>
                            <td>258</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>42</td>
                            <td>9</td>
                            <td>262</td>
                        </tr>
                        <tr>
                            <td>8.5</td>
                            <td>42.5</td>
                            <td>9.5</td>
                            <td>266</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>43</td>
                            <td>10</td>
                            <td>271</td>
                        </tr>
                        <tr>
                            <td>9.5</td>
                            <td>44</td>
                            <td>10.5</td>
                            <td>275</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>44.5</td>
                            <td>11</td>
                            <td>279</td>
                        </tr>
                        <tr>
                            <td>10.5</td>
                            <td>45</td>
                            <td>11.5</td>
                            <td>283</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>46</td>
                            <td>12</td>
                            <td>288</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>47</td>
                            <td>13</td>
                            <td>296</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>48</td>
                            <td>14</td>
                            <td>305</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>49.5</td>
                            <td>15</td>
                            <td>314</td>
                        </tr>
                    </tbody>
                </table>
                <!-- / Size Guide Table-->
            </div>
            <!-- / Size Modal Content-->
        </div>
    </div>
</div>
<!--/ Size Modal -->