<ul class="list-group mb-5 d-none d-lg-block rounded-0">
    {{#if show-contact}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">Contact</span>
            <span class="small">test@email.com</span>
        </div>
        <a href="{{webRoot}}/checkout.html" class="text-muted small" role="button">Change</a>
    </li>
    {{/if}}
    {{#if show-delivery}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">Deliver To</span>
            <span class="small">123 Street, London, SM3 5TY, United Kingdom</span>
        </div>
        <a href="{{webRoot}}/checkout-shipping.html" class="text-muted small" role="button">Change</a>
    </li>
    {{/if}}
    {{#if show-method}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">Method</span>
            <span class="small">UPS Priority Delivery</span>
        </div>
        <a href="{{webRoot}}/checkout-shipping.html" class="text-muted small" role="button">Change</a>
    </li>
    {{/if}}
</ul>