<!-- Checkout Information Summary -->
{{> checkout/checkout-information-summary show-contact="true" }}
<!-- / Checkout Information Summary-->

<!-- Checkout Panel Information-->
<h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Shipping Method</h3>

<!-- Shipping Option-->
<div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
  <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodOne" checked>
  <label class="form-check-label" for="checkoutShippingMethodOne">
    <span class="d-flex justify-content-between align-items-start">
      <span>
        <span class="mb-0 fw-bolder d-block">Click & Collect Shipping</span>
        <small class="fw-bolder">Collect from our London store</small>
      </span>
      <span class="small fw-bolder text-uppercase">Free</span>
    </span>
  </label>
</div>

<!-- Shipping Option-->
<div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
  <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodTwo">
  <label class="form-check-label" for="checkoutShippingMethodTwo">
    <span class="d-flex justify-content-between align-items-start">
      <span>
        <span class="mb-0 fw-bolder d-block">UPS Next Day</span>
        <small class="fw-bolder">For all orders placed before 1pm Monday to Thursday</small>
      </span>
      <span class="small fw-bolder text-uppercase">$19.99</span>
    </span>
  </label>
</div>

<!-- Shipping Option-->
<div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
  <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodThree">
  <label class="form-check-label" for="checkoutShippingMethodThree">
    <span class="d-flex justify-content-between align-items-start">
      <span>
        <span class="mb-0 fw-bolder d-block">DHL Priority Service</span>
        <small class="fw-bolder">24 - 36 hour delivery</small>
      </span>
      <span class="small fw-bolder text-uppercase">$9.99</span>
    </span>
  </label>
</div>

<div class="pt-5 mt-5 pb-5 border-top d-flex flex-column flex-md-row justify-content-between align-items-center">
  <a href="{{webRoot}}/checkout.html" class="btn ps-md-0 btn-link fw-bolder w-100 w-md-auto mb-2 mb-md-0" role="button">Back to information</a>
  <a href="{{webRoot}}/checkout-payment.html" class="btn btn-dark w-100 w-md-auto" role="button">Proceed to payment</a>
</div>
