<!-- Checkout Information Summary -->
{{> checkout/checkout-information-summary show-contact="true" show-delivery="true" show-method="true" }}
<!-- / Checkout Information Summary-->

<!-- Checkout Panel Information-->
<h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Payment Information</h3>

<div class="row">

  <!-- Payment Option-->
  <div class="col-12">
    <div class="form-check form-group form-check-custom form-radio-custom mb-3">
      <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checoutPaymentStripe" checked>
      <label class="form-check-label" for="checoutPaymentStripe">
        <span class="d-flex justify-content-between align-items-start">
          <span>
            <span class="mb-0 fw-bolder d-block">Credit Card (Stripe)</span>
          </span>
          <i class="ri-bank-card-line"></i>
        </span>
      </label>
    </div>
  </div>

  <!-- Payment Option-->
  <div class="col-12">
    <div class="form-check form-group form-check-custom form-radio-custom mb-3">
      <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentPaypal">
      <label class="form-check-label" for="checkoutPaymentPaypal">
        <span class="d-flex justify-content-between align-items-start">
          <span>
            <span class="mb-0 fw-bolder d-block">PayPal</span>
          </span>
          <i class="ri-paypal-line"></i>
        </span>
      </label>
    </div>
  </div>

</div>

<!-- Payment Details-->
<div class="card-details">
  <div class="row pt-3">
    <div class="col-md-12">
      <div class="form-group">
        <label for="cc-name" class="form-label">Name on card</label>
        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
        <small class="text-muted">Full name as displayed on card</small>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label for="cc-number" class="form-label">Credit card number</label>
        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="cc-expiration" class="form-label">Expiration</label>
        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <div class="d-flex">
          <label for="cc-cvv" class="form-label d-flex w-100 justify-content-between align-items-center">Security Code</label>
          <button type="button" class="btn btn-link p-0 fw-bolder fs-xs text-nowrap" data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="A CVV is a number on your credit card or debit card that's in addition to your credit card number and expiration date">
            What's this?
          </button>
        </div>
        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
      </div>
    </div>
  </div>
</div>
<!-- / Payment Details-->

<!-- Paypal Info-->
<div class="paypal-details bg-light p-4 d-none my-3 fw-bolder">
  Please click on complete order. You will then be transferred to Paypal to enter your payment details.
</div>
<!-- /Paypal Info-->

<!-- Accept Terms Checkbox-->
<div class="form-group form-check m-0">
  <input type="checkbox" class="form-check-input" id="accept-terms" checked>
  <label class="form-check-label fw-bolder" for="accept-terms">I agree to {{ config.templateName }}'s <a href="#">terms &
      conditions</a></label>
</div>

<div class="pt-5 mt-5 pb-5 border-top d-flex flex-column flex-md-row justify-content-between align-items-center">
  <a href="{{webRoot}}/checkout-shipping.html" class="btn ps-md-0 btn-link fw-bolder w-100 w-md-auto mb-2 mb-md-0" role="button">Back to
    shipping</a>
  <a href="#" class="btn btn-dark w-100 w-md-auto" role="button">Complete Order</a>
</div>
