<div class="form-check-option {{ option-classes }}">
    <input 
        type="radio" 
        name="product-option-{{ type }}" 
        value="{{ value }}" 
        {{#if disabled}}
            disabled
        {{/if}}
        {{#if selected}}
            checked
        {{/if}}
        id="option-{{ type }}-{{ @index }}">
    <label for="option-{{ type }}-{{ @index }}">
        {{#if label-top }}<small class="d-block">{{ label-top }}</small>{{/if}}
        {{#if label-bottom }}<small>{{ label-bottom }}</small>{{/if}}
    </label>
</div>