<div class="bg-light p-5 justify-content-between d-flex flex-column flex-lg-row">
    <div class="d-flex flex-column align-items-center mb-4 mb-lg-0">
        <div class="bg-dark text-white f-w-24 f-h-24 d-flex rounded-circle align-items-center justify-content-center fs-2 fw-bold mb-3">4.3</div>
        {{> reviews/review-stars-medium colour="text-dark" width="88%" }}
    </div>
    <div class="d-flex flex-grow-1 flex-column ms-lg-8">
        <div class="d-flex align-items-center justify-content-start mb-2">
            <div class="f-w-20">
                {{> reviews/review-stars-small colour="text-dark" width="100%" }}
            </div>
            <div class="progress d-flex flex-grow-1 mx-4 f-h-1">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fw-bold small d-block f-w-4 text-end">55</span>
        </div>
        <div class="d-flex align-items-center justify-content-start mb-2">
            <div class="f-w-20">
                {{> reviews/review-stars-small colour="text-dark" width="80%" }}
            </div>
            <div class="progress d-flex flex-grow-1 mx-4 f-h-1">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fw-bold small d-block f-w-4 text-end">32</span>
        </div>
        <div class="d-flex align-items-center justify-content-start mb-2">
            <div class="f-w-20">
                {{> reviews/review-stars-small colour="text-dark" width="60%" }}
            </div>
            <div class="progress d-flex flex-grow-1 mx-4 f-h-1">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fw-bold small d-block f-w-4 text-end">15</span>
        </div>
        <div class="d-flex align-items-center justify-content-start mb-2">
            <div class="f-w-20">
                {{> reviews/review-stars-small colour="text-dark" width="40%" }}
            </div>
            <div class="progress d-flex flex-grow-1 mx-4 f-h-1">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 8%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fw-bold small d-block f-w-4 text-end">5</span>
        </div>
        <div class="d-flex align-items-center justify-content-start mb-2">
            <div class="f-w-20">
                {{> reviews/review-stars-small colour="text-dark" width="20%" }}
            </div>
            <div class="progress d-flex flex-grow-1 mx-4 f-h-1">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fw-bold small d-block f-w-4 text-end">1</span>
        </div>
        <p class="mt-3 mb-0 d-flex align-items-start"><i class="ri-chat-voice-line me-2"></i> 105 customers have reviewed this product</p>
    </div>
</div>