<!-- Review Stars Medium-->
<div class="rating position-relative d-table">
    <div class="position-absolute stars" style="width: {{#if width}}{{width}}{{else}}80%{{/if}}">
        <i class="ri-star-fill {{#if colour}}{{colour}}{{else}}text-dark{{/if}} ri-2x mr-1"></i>
        <i class="ri-star-fill {{#if colour}}{{colour}}{{else}}text-dark{{/if}} ri-2x mr-1"></i>
        <i class="ri-star-fill {{#if colour}}{{colour}}{{else}}text-dark{{/if}} ri-2x mr-1"></i>
        <i class="ri-star-fill {{#if colour}}{{colour}}{{else}}text-dark{{/if}} ri-2x mr-1"></i>
        <i class="ri-star-fill {{#if colour}}{{colour}}{{else}}text-dark{{/if}} ri-2x mr-1"></i>
    </div>
    <div class="stars">
        <i class="ri-star-fill ri-2x mr-1 text-muted opacity-25"></i>
        <i class="ri-star-fill ri-2x mr-1 text-muted opacity-25"></i>
        <i class="ri-star-fill ri-2x mr-1 text-muted opacity-25"></i>
        <i class="ri-star-fill ri-2x mr-1 text-muted opacity-25"></i>
        <i class="ri-star-fill ri-2x mr-1 text-muted opacity-25"></i>
    </div>
</div>