<div class="row g-3" data-aos="fade-right">
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-page-1.jpeg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-page-2.jpeg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-page-3.jpeg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-page-4.jpeg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
</div>
